body{
  height: 100vh;
  min-height: 700px;
  min-width: 1100px;
  overflow: hidden;
  background: #1f2227;
  border: 2px #333841 solid;
}

#header {
    height: 44px;
    background: #1a1d21;
    z-index: 100;
    width: 100vw;
    vertical-align: middle;
    padding: 0 2rem;
    border-bottom: 4px #333841 solid;
}

.splitter>.gutter{
  background: #333841;
  border-color: #333841;
}

.splitter>.gutter::before{
  display: none;
}

.d-menu li a{
  padding: 0 1rem 0 1rem;
  height: 40px;
  line-height: 40px;
}

.h-menu>li{
  border-bottom: 4px #333841 solid;
}

.h-menu>li.app-button{
  border-bottom: none;
}

.h-menu>li>a{
  padding: .5rem;
}

li.active-container, .h-menu li:hover{
  background-color:#343a42;
}

.h-menu>li.app-button:hover{
  background-color:#343a42;
}

#app-exit-button:hover{
  background-color:rgb(119, 17, 17);
}

.d-menu li:hover{
  background: #b1bfdf;
}

.panel-tab-label-cont {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    display: flex;
}

.panel-tab-label-cont .panel-tab-label {
    font-size: 12px;
    z-index: 30;
    color: #cfd0d1;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    pointer-events: none;
}